### http://yikun.github.io/2020/01/17/%E5%B7%A7%E7%94%A8Github-Action%E5%90%8C%E6%AD%A5%E4%BB%A3%E7%A0%81%E5%88%B0Gitee/

name: repo_sync_gitee
on:
  workflow_dispatch:
  #schedule:
    # * is a special character in YAML so you have to quote this string
    # UTC 20:00 -> CST (China) 4:00, see https://datetime360.com/cn/utc-cst-china-time/
    #- cron: '33 * * * *'
  push:
    branches: [ main]
  #pull_request:
  #  branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Mirror the Github organization repos to Gitee .
      uses: Yikun/hub-mirror-action@master
      ### uses: x-dr/sync-repo-to-gitee@master
      ### uses: serverlesslife-cn/sync-repo-to-coding@master
      ### uses: wearerequired/git-mirror-action@v1
      with:
        # 必选，需要同步的Github用户（源）
        src: github/hbstarjason2021
        # 必选，需要同步到的Gitee的用户（目的）
        dst: gitee/starjason
        #https://docs.github.com/en/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent#generating-a-new-ssh-key
        # 必选，Gitee公钥对应的私钥，https://gitee.com/profile/sshkeys
        dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
        # 必选，Gitee对应的用于创建仓库的token，https://gitee.com/profile/personal_access_tokens
        dst_token:  ${{ secrets.GITEE_TOKEN }}
        # 如果是组织，指定组织即可，默认为用户user
        white_list: 'jd-scripts-docker'
        # 如果是组织，指定组织即可，默认为用户user
        force_update: true
        debug: true
        # account_type: org
        # 还有黑、白名单，静态名单机制，可以用于更新某些指定库
        # static_list: repo_name
